{% extends 'base-dashboard.html.twig' %}

{% block title %}Liste des Newsletters{% endblock %}

{% block body %}
    <h1>Liste des newsletters</h1>
    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Inscrits</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{newsletter.name}}</td>
                <td>{{newsletter.createdAt|date}}</td>
                <td>{{newsletter.categorie.value}}</td>
                <td>{{newsletter.categorie.usersNewsletter|length}}</td>
                <td>
                    {% if newsletter.isSent == false %}
                        <a href="{{ path('newsletter_send', {id: newsletter.id}) }}">Envoyer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}