{% extends 'base-login.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="page-wrapper">
        {#<!-- Preloader -->
        <div class="preloader"></div>#}
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <!-- Main Header-->
        <header class="main-header">
            <div class="container-fluid">
                <!-- Main box -->
                <div class="main-box">
                    <!--Nav Outer -->
                    <div class="nav-outer">
                        <div class="logo-box">
                            <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/new-logoth.png') }}" alt="" title=""></a></div>
                        </div>
                    </div>

                    <div class="outer-box">
                        <!-- Login/Register -->
                        <div class="btn-box">
                            {% if app.user %}
                                <a href="{{ path('dashboard') }}" class="theme-btn btn-style-one"><span class="btn-title">Job Post</span></a>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="theme-btn btn-style-three call-modal">Login / Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/new-logoth.png') }}" alt="" title=""></a></div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>
        </header>
        <!--End Main Header -->

        <!-- Info Section -->
        <div class="login-section">
            <div class="image-layer" style="background-image: url('images/background/12.jpg');"></div>
            <div class="outer-box">
                <!-- Login Form -->
                <div class="login-form default-form">
                    <div class="form-inner">
                        <h3>Créez votre compte Talents Handicap</h3>
                        <!--Login Form-->
                        {{ form_start(registrationForm) }}
                            <div class="form-group">{{ form_row(registrationForm.civilite) }}</div>
                            <div class="form-group">{{ form_row(registrationForm.nom) }}</div>
                            <div class="form-group">{{ form_row(registrationForm.prenom) }}</div>
                            <div class="form-group">{{ form_row(registrationForm.email) }}</div>
                            <div class="form-group">{{ form_row(registrationForm.password) }}</div>
                            <div class="form-group">{{ form_row(registrationForm.agreeTerms) }}</div>
                            <div class="form-group">
                                <button class="theme-btn btn-style-one " type="submit" name="Register">Valider</button>
                            </div>
                        {{ form_end(registrationForm) }}

                        <div class="bottom-box">
                            <div class="divider"><span>ou</span></div>
                            <div class="btn-box row">
                                <div class="col-lg-6 col-md-12">
                                    <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> via Facebook</a>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> via Gmail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Login Form -->
            </div>
        </div>
        <!-- End Info Section -->
    </div><!-- End Page Wrapper -->
{% endblock %}

