<!-- Job Section -->
<section class="job-section-four">
    <div class="auto-container">

        <div class="sec-title-outer">
            <div class="sec-title">
                <h2>Agenda des prochains forums</h2>
                <div class="text">Editions spéciales</div>
            </div>
            <a href="{{ path('forums_all') }}" class="link">Les voir tous <span class="icon fa fa-angle-right"></span></a>
        </div>

        <div class="outer-box wow fadeInUp">
            {% for forum in allForums %}
                <div class="job-block-five">
                <div class="inner-box">
                    <div class="content">
                        <span class="company-logo">
                            {% if forum.logo %}
                                {% for image in forum.logo %}
                                    {% if loop.first %}
                                    <img class="object-fit_cover" src="{{ asset('uploads/' ~ image.nom) }}" alt="{{ image.nom }}" width="60px">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img src="{{ asset('/uploads/avatar.png') }}" alt="">
                            {% endif %}
                        </span>
                        <h4><a href="{{ path('forum_page', {'slug': forum.slug }) }}">{{ forum.nom }}</a></h4>
                        <ul class="job-info">
                            <li><span class="icon flaticon-time"></span>De {{ forum.dateOuverture|date('d-m-Y') }} à {{ forum.dateFermeture|date('d-m-Y') }}</li>
                        </ul>
                    </div>
                    <ul class="job-other-info">
                        <li class="time">{{ forum.openingStatut }}</li>
                    </ul>
                    <a href="{{ path('forum_page', {'slug': forum.slug }) }}" class="theme-btn btn-style-three">Ouvrir</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Job Section -->