<!-- Banner Section-->
<section class="banner-section-five">
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInUp"  data-wow-delay="500ms">
                    <div class="title-box">
                        <h3>Le <span class="colored">forum en ligne</span> de référence</h3>
                        <h4>Pour accompagner vers l'emploi les candidats en situation de handicap</h4>
                        <div class="text"></div>
                    </div>

                    <!-- Job Search Form -->
                    <div class="job-search-form wow fadeInUp" data-wow-delay="1000ms">
                        {{ form_start(form, {'action': path('annonces_all')}) }}
                            <div class="row">
                                <div class="form-group col-lg-5 col-md-12 col-sm-12">
                                    <span class="icon flaticon-search-1"></span>
                                    {{ form_row(form.q) }}
                                </div>
                                <!-- Form Group -->
                                <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
                                    <span class="icon flaticon-map-locator"></span>
                                    {{ form_row(form.zone) }}
                                </div>
                                <!-- Form Group -->
                                <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                                    <a href="{{ path('annonces_all') }}" class="theme-btn btn-style-seven"><span class="btn-title">Touver un emploi</span></a>
                                </div>
                            </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                    <!-- Job Search Form -->
                </div>
            </div>

            <div class="image-column col-lg-5 col-md-12">
                <div class="image-box">
                    <div class="row">
                        <div class="column col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="1500ms">
                            {% for forum in forums %}
                                {% for logo in forum.logo %}
                                <figure class="image anm" data-speed-x="2">
                                    <a href="{{ path('forum_page', {'slug': forum.slug }) }}"><img class="" src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}"></a>
                                </figure>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="column col-lg-6 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="2000ms">
                            <figure class="image anm" data-speed-x="2">
                                {% for animation in animations %}
                                    <div class="job-block-four">
                                        <div class="inner-box">
                                            <ul class="job-other-info">
                                                <li class="privacy">A vos agendas</li>
                                            </ul>
                                            <span class="company-logo">
                                                {% if animation.logoSociete %}
                                                    {% for logo in animation.logoSociete %}
                                                        {% if loop.first %}
                                                            <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}" style="width: 90px">
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="icon flaticon-calendar"></span>
                                                    {% endfor %}
                                                {% endif %}
                                            </span>
                                            <span class="company-name">Catalyst</span>
                                            <h4><a href="">{{ animation.titre }}</a></h4>
                                            <div class="location"><i class="las la-calendar"></i> Du {{ animation.dateDebut|date('d-m-Y') }} au {{ animation.dateFin|date('d-m-Y') }}</div>
                                            {#<ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                                <li class="colored">+2</li>
                                            </ul>#}
                                        </div>
                                    </div>
                                {% endfor %}
                            </figure>
                            <figure class="image anm" data-speed-x="2">
                                {% for blog in blogs %}
                                    {% if loop.first %}
                                        <div class="feature-block">
                                            <div class="inner-box">
                                                <figure class="image">
                                                    {% if blog.images %}
                                                        {% for logo in blog.images %}
                                                            {% if loop.first %}
                                                                <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{{ asset('images/resource/network.png') }}" alt="{{ logo.nom }}" style="width: 90px">
                                                        {% endfor %}
                                                    {% endif %}
                                                </figure>
                                                <div class="overlay-box">
                                                    <div class="content">
                                                        <h5>{{ blog.titre }}</h5>
                                                        <span class="total-jobs">12 Jobs</span>
                                                        <a href="job-list-v1.html" class="overlay-link"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </figure>
                        </div>
                    </div>

                    <!-- Info BLock One -->
                    {% for forum in forums %}
                        <div class="info_block wow fadeIn anm" data-wow-delay="2500ms" data-speed-x="2" data-speed-y="2">
                            <span class="icon flaticon-alarm-clock"></span>
                            <a href="{{ path('forum_page', {'slug': forum.slug }) }}"><p style="max-width: 180px">{{ forum.nom }}</p></a>
                            <div class="text" style="font-size: 14px">Du {{ forum.dateOuverture|date('m-d-Y') }} au {{ forum.dateFermeture|date('m-d-Y') }}</div>
                        </div>

                        {#<!-- Info BLock Two -->
                        <div class="info_block_two wow fadeIn anm" data-wow-delay="3000ms" data-speed-x="3" data-speed-y="3">
                            <p>Stands participants</p>
                            <div class="container">
                                <div class="row">
                                    {% for stand in forum.stand %}
                                        {% if stand.logo %}
                                                {% for logo in stand.logo %}
                                                    <div class="col">
                                                        <a href="{{ path('stand_page', {'slug': stand.slug }) }}"><img class="" src="{{ asset('uploads/' ~ logo.nom) }}" alt="logo" style="width: 50px"></a>
                                                    </div>
                                                {% else %}
                                                    <div class="col">
                                                        <a href="{{ path('stand_page', {'slug': stand.slug }) }}"><img class="" src="{{ asset('uploads/stand.png') }}" alt="logo"  style="width: 50px"></a>
                                                    </div>
                                                {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if not app.user %}<a href="{{ path('app_register') }}" class="theme-btn btn-style-one small mt-4">Je m'inscris</a>{% endif %}
                        </div>#}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Section-->