<!-- News Section Two -->
<section class="news-section-two style-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Handi'Actu</h2>
            <div class="text">L'actualité sur l'emploi et le handicap</div>
        </div>

        <div class="row wow fadeInUp">
            {% for blog in blogs %}
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            {% if blog.images %}
                                {% for image in blog.images %}
                                    {% if loop.first %}
                                        <img src="{{ asset('uploads/' ~ image.nom) }}" alt="{{ image.nom }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><a href="#">{{ blog.createdAt|date('d-m-Y') }}</a></li>
                        </ul>
                        <h3><a href="{{ path('blog_show', {'slug': blog.slug}) }}">{{ blog.titre|striptags|slice(0, 43) }}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End News Section -->