{% if app.request.attributes.get('_route')  in
    [
        'annonces_all',
        'annonce_page',
        'blog_show',
        'stands_all',
        'stand_page',
        'forums_all',
        'forum_page',
        'blog_conseils',
        'blog_webtv'
    ]
%}
<!-- Header Span -->
<span class="header-span"></span>
{% endif %}

<!-- Main Header-->
<header class="main-header header-style-three">
    <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/new-logoth.png') }}" alt="" title=""></a></div>
                </div>

                <nav class="nav main-menu">
                    <ul class="navigation" id="navbar">
                        <li class="current dropdown">
                            <span>Mes démarches</span>
                            <ul>
                                <li><a href="{{ path('annonces_all') }}">Consulter les offres d'emploi, d'alternance ou de stages</a></li>
                                <li><a href="{{ path('stands_all') }}">Visiter les stands virtuels des employeurs</a></li>
                                <li><a href="{{ path('forums_all') }}">Participer aux conférences du forum</a></li>
                                <li><a href="{{ path('blog_conseils') }}">Consulter les interviews des employeurs</a></li>
                                <li class="current"><a href="{{ path('blog_webtv') }}">Accéder à la WebTV (vidéos des employeurs)</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <span>Aide/accompagnement</span>
                            <ul>
                                <li><a href="job-list-v1.html">Consulter les conseils pour réussir mes démarches</a></li>
                                <li><a href="job-list-v2.html">M’informer sur le fonctionnement du forum Talents Handicap</a></li>
                                <li><a href="job-list-v3.html">Télécharger le guide du candidat</a></li>
                                <li><a href="job-list-v4.html">Projet pro’h : l’outil pour bâtir mon projet professionnel</a></li>
                                <li><a href="job-list-v5.html">Foire aux questions</a></li>
                                <li><a href="job-list-v5.html">Contacter l’équipe Talents Handicap</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <span>Espace employeurs</span>
                            <ul>
                                <li><a href="employers-list-v1.html">Pourquoi exposer ?</a></li>
                                <li><a href="employers-list-v2.html">Nous demander un devis</a></li>
                                <li><a href="employers-list-v3.html">Programme des conférences</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <span>Divers</span>
                            <ul>
                                <li><a href="candidates-list-v1.html">Agenda des forums</a></li>
                                <li><a href="candidates-list-v2.html">Actualités</a></li>
                                <li><a href="candidates-list-v3.html">WebTV</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <span>L'équipe Talents Handicap</span>
                            <ul>
                                <li><a href="blog-list-v1.html">Qui sommes-nous ?</a></li>
                                <li><a href="blog-list-v2.html">Nous contacter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">
                <!-- Add Listing -->
                {% if app.user and app.user.isCandidat() and app.user.profile %}
                    <a href="{{ path('profile_my_cv', {'id': app.user.profile.id}) }}" class="theme-btn btn-style-four"> Ajouter un CV</a>
                {% endif %}
                <!-- Login/Register -->
                <div class="btn-box">
                    {% if app.user %}
                        <a href="{{ path('dashboard') }}" class="theme-btn btn-style-seven">Dashboard</a>
                        <a href="{{ path('app_logout') }}" class="theme-btn btn-style-eight">Logout</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="theme-btn btn-style-four call-modal">Login / Inscription</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Header -->
    <div class="mobile-header">
        <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/logoTH.svg') }}" alt="" title=""></a>
        </div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

            <div class="outer-box">
                <!-- Login/Register -->
                <div class="login-box">
                    <a href="{{ path('app_login') }}" class="call-modal"><span class="icon-user"></span></a>
                </div>

                <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
            </div>
        </div>
    </div>

    <!-- Mobile Nav -->
    <div id="nav-mobile"></div>
</header>
<!--End Main Header -->