<!-- Job Section -->
<section class="job-section-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Stands</h2>
            <div class="text">Visitez les stands des employeurs qui recrutent en ce moment</div>
        </div>


        <div class="row">
            <!-- Job Block -->
            {% for stand in stands %}
                <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                    <a href="{{ path('stand_page', {'slug': stand.slug}) }}">
                        <div class="inner-box">
                            <ul class="job-other-info">
                                {% if stand.annonces|length >= 1 %}<li class="time">{{ pluralize(stand.annonces|length, 'annonce') }}{% endif %}
                                <li class="privacy">Speed Meeting</li>
                                {#<li class="required">Urgent</li>#}
                            </ul>
                            <span class="company-logo">
                        {% if stand.logo %}
                            {% for logo in stand.logo %}
                                <img src="{{ asset('uploads/' ~ logo.nom) }}" alt="{{ logo.nom }}">
                                     {% else %}
                                <img src="{{ asset('uploads/stand.png') }}" alt="" style="width: 100px">
                            {% endfor %}
                        {% endif %}
                    </span>
                            <span class="company-name">Catalyst</span>
                            <h4><a href="{{ path('stand_page', {'slug': stand.slug}) }}">{{ stand.nom|slice(0, 20) }}</a></h4>
                            {#<div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>#}
                            <ul class="post-tags">

                            </ul>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="btn-box">
            <a href="{{ path('stands_all') }}" class="theme-btn btn-style-seven">Voir tous les stands</a>
        </div>
    </div>
</section>
<!-- End Job Section -->