{% extends 'base-dashboard.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="row">
            <div class="col-lg-12">
                <!-- Ls widget -->
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title d-flex flex-row">
                            <h4>Offres d'emploi</h4>
                            <a class="theme-btn btn-style-three small" href="{{ path('annonce_new') }}"><i class="fas fa-plus-circle mr-2"></i>Ajouter</a>
                        </div>

                        <div class="widget-content">
                            <div class="table-outer">
                                <table class="default-table" id="datatable">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Stand</th>
                                            <th>Forum</th>
                                            <th>Statut</th>
                                            <th>Paramètres</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for annonce in annonces %}
                                        <tr>
                                            <td>{{ annonce.nom }}</td>
                                            <td>{{ annonce.stand.nom }}</td>
                                            <td>{{ annonce.forum.nom }}</td>
                                            <td>

                                                <ul class="switchbox">
                                                    <li>
                                                        <label class="switch">
                                                            <input type="checkbox" id="flexSwitchCheckDefault" {{ (annonce.statut) ? 'checked' : ''}} data-id="{{annonce.id}}"/>
                                                            <span class="slider round"></span>
                                                            {% if annonce.statut  ? 'checked'%}
                                                                <span class="title">publiée</span>
                                                            {% else %}
                                                                <span class="title">non publiée</span>
                                                            {% endif %}
                                                        </label>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="buttons">
                                                    <a href="" class="theme-btn btn-style-four small">Dupliquer</a>
                                                    <a href="" class="theme-btn btn-style-eight small">Archiver</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="option-box">
                                                    <ul class="option-list">
                                                        <li><a href="{{ path('annonce_show', {'slug': annonce.slug}) }}" data-text="Voir"><span class="la la-eye"></span></a></li>
                                                        <li><a href="{{ path('annonce_edit', {'id': annonce.id}) }}" data-text="Modifier"><span class="la la-pen"></span></a></li>
                                                        <li>{{ include('annonce/_delete_form.html.twig') }}</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="16">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        window.onload = () => {
            let activer = document.querySelectorAll("[type=checkbox]")
            for (let bouton of activer) {
                bouton.addEventListener("click", function () {
                    let xmlhttp = new XMLHttpRequest;
                    xmlhttp.open("get", `/cms/annonce/activer/${this.dataset.id}`)
                    xmlhttp.send()
                })
            }
        }
    </script>
{% endblock %}
