{{ form_start(form) }}
<div class="mb-2">{{ form_widget(form.cV) }}</div>
<div class="mb-2">{{ form_widget(form.NomLibre) }}</div>
<button class="theme-btn btn-style-one small">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form, {'render_rest': false}) }}
