{% extends 'base.html.twig' %}

{% block title %}File{% endblock %}

{% block body %}
    <h1>File</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ file.nom }}</td>
            </tr>
            <tr>
                <th>NomFichier</th>
                <td>{{ file.nomFichier }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ file.type }}</td>
            </tr>
            <tr>
                <th>NomLibre</th>
                <td>{{ file.NomLibre }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ file.updatedAt ? file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('file_index') }}">back to list</a>

    <a href="{{ path('file_edit', {'id': file.id}) }}">edit</a>

    {{ include('file/_delete_form.html.twig') }}
{% endblock %}
