{% extends 'base-dashboard.html.twig' %}

{% block title %}Edit Stand{% endblock %}

{% block body %}

<!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title d-flex flex-row">
                                <h4>Stand | {{ stand.nom }}</h4>
                                <div class="option-box">
                                    <ul class="option-list">
                                        <li><a href="{{ path('stand_index') }}" data-text="Revenir en arrière"><span class="la la-fast-backward"></span></a></li>
                                        <li>{{ include('stand/_delete_form.html.twig') }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget-content">
                                {{ form_start(form, { 'attr': {'class': 'default-form'} }) }}
                                <div class="default-tabs tabs-box">
                                    <!--Tabs Box-->
                                    <ul class="tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab1">Infos générales</li>
                                        <li class="tab-btn" data-tab="#tab2">Paramètres avancés</li>
                                    </ul>

                                    <div class="tabs-content">
                                        <!--Tab-->
                                        <div class="tab active-tab" id="tab1">
                                            {{ form_row(form.logo) }}
                                            {% if app.request.attributes.get('_route') == 'stand_edit' %}
                                                <div class="title">Logo</div>
                                                <div class="row">
                                                    {% if stand.logo %}
                                                        {% for image in stand.logo %}
                                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                                <figure class="image">
                                                                    <img src="{{ asset('uploads/' ~ image.nom) }}" alt="{{ image.nom }}">
                                                                    <a class="" href="{{ path('realisation_delete_files', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><span class="la la-trash"></span></a>
                                                                </figure>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                            {{ form_row(form.nom) }}
                                            {{ form_row(form.url) }}
                                            {{ form_row(form.description) }}
                                            {{ form_row(form.page_offres) }}
                                        </div>

                                        <!--Tab-->
                                        <div class="tab" id="tab2">
                                            <div class="row">
                                                <div class="col-md-6">{{ form_row(form.forums) }}</div>
                                                <div class="col-md-6">{{ form_row(form.gestionnaire) }}</div>
                                                <div class="col-md-3">{{ form_row(form.type) }}</div>
                                                <div class="col-md-3">{{ form_row(form.statut) }}</div>
                                                <div class="col-md-3">{{ form_row(form.cvtheque) }}</div>
                                                <div class="col-md-3">{{ form_row(form.vivierCandidat) }}</div>
                                                <div class="col-md-3">{{ form_row(form.parametresRecruteur) }}</div>
                                                <div class="col-md-3">{{ form_row(form.speedMeeting) }}</div>
                                                <div class="col-md-3">{{ form_row(form.nombreParticipationCanditatStand) }}</div>
                                                <div class="col-md-3">{{ form_row(form.codeInscription) }}</div>
                                                <div class="col-md-3">{{ form_row(form.isUne) }}</div>
                                                {{ form_row(form.documents) }}
                                                {% if app.request.attributes.get('_route') == 'stand_edit' %}
                                                    <div class="title">Documents</div>
                                                    <div class="row">
                                                        {% if stand.documents %}
                                                            {% for image in stand.documents %}
                                                                <div class="col-lg-3 col-md-3 col-sm-6">
                                                                    <figure class="image">
                                                                        <img src="{{ asset('uploads/' ~ image.nom) }}" alt="{{ image.nom }}">
                                                                        <a class="" href="{{ path('stand_delete_files', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><span class="la la-trash"></span></a>
                                                                    </figure>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="theme-btn btn-style-one small">{{ button_label|default('Enregistrer') }}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
