{{ form_start(form, { 'attr': {'class': 'default-form'} }) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.images) }}

    {% if app.request.attributes.get('_route') == 'blog_edit' %}
        <div class="title">Illustrations</div>
        <div class="row">
            {% if blog.images %}
                {% for image in blog.images %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <figure class="image">
                            <img src="{{ asset('uploads/' ~ image.nom) }}" alt="{{ image.nom }}">
                            <a class="" href="{{ path('blog_delete_files', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><span class="la la-trash"></span></a>
                        </figure>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <div class="row">
        <div class="form-group col-lg-3 col-md-12">{{ form_row(form.isStatut) }}</div>
        <div class="form-group col-lg-3 col-md-12">{{ form_row(form.type) }}</div>
        <div class="form-group col-lg-3 col-md-12">{{ form_row(form.faq) }}</div>
        <div class="form-group col-lg-3 col-md-12">{{ form_row(form.auteur) }}</div>
        <div class="form-group col-lg-3 col-md-12">{{ form_row(form.tag) }}</div>
    </div>
    <button class="theme-btn btn-style-one small">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
