<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    <div class="page-wrapper dashboard">
        <!-- Preloader -->
        {#<div class="preloader"></div>#}
        {{ include('dashboard/header-dashboard.html.twig') }}
        {{ include('partials/flashbag.html.twig') }}
        {% if app.user.isCandidat() %}
            {{ include('dashboard/sidebar-candidat.html.twig') }}
        {% elseif app.user.isRecruteur() %}
            {{ include('dashboard/sidebar-recruteur.html.twig') }}
        {% elseif app.user.isSuperAdmin() %}
            {{ include('dashboard/sidebar-admin.html.twig') }}
        {% endif %}
        {% block body %}

        {% endblock %}
        {{ include('dashboard/footer-dashboard.html.twig') }}
    </div>

    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
