{% extends 'base.html.twig' %}

{% block title %}CvExperience index{% endblock %}

{% block body %}
    <h1>Expériences professionnelles dans le CV</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Post</th>
                <th>Entreprise</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv_experience in cv_experiences %}
            <tr>
                <td>{{ cv_experience.post }}</td>
                <td>{{ cv_experience.entreprise }}</td>
                <td>{{ cv_experience.debut ? cv_experience.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cv_experience.fin ? cv_experience.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cv_experience.description|raw }}</td>
                <td>
                    <a href="{{ path('cvexperience_show', {'id': cv_experience.id}) }}">show</a>
                    <a href="{{ path('cvexperience_edit', {'id': cv_experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cv_experience_new') }}">Create new</a>
{% endblock %}
