<!-- Header Span -->
<span class="header-span"></span>

<!-- Main Header-->
<header class="main-header header-shaddow">
    <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/new-logoth.png') }}" alt="" title=""></a></div>
                </div>

                <nav class="nav main-menu">
                    <ul class="navigation" id="navbar">
                        <li class="current dropdown">
                            <span>Mes démarches</span>
                            <ul>

                                <li><a href="index.html">Consulter les offres d'emploi, d'alternance ou de stages</a></li>
                                <li><a href="index-2.html">Visiter les stands virtuels des employeurs</a></li>
                                <li><a href="index-3.html">Participer aux conférences du forum</a></li>
                                <li><a href="index-4.html">Consulter les interviews des employeurs</a></li>
                                <li class="current"><a href="index-5.html">Accéder à la WebTV (vidéos des employeurs)</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <span>Aide/accompagnement</span>
                            <ul>
                                <li><a href="job-list-v1.html">Consulter les conseils pour réussir mes démarches</a></li>
                                <li><a href="job-list-v2.html">M’informer sur le fonctionnement du forum Talents Handicap</a></li>
                                <li><a href="job-list-v3.html">Télécharger le guide du candidat</a></li>
                                <li><a href="job-list-v4.html">Projet pro’h : l’outil pour bâtir mon projet professionnel</a></li>
                                <li><a href="job-list-v5.html">Foire aux questions</a></li>
                                <li><a href="job-list-v5.html">Contacter l’équipe Talents Handicap</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <span>Espace employeurs</span>
                            <ul>
                                <li><a href="employers-list-v1.html">Pourquoi exposer ?</a></li>
                                <li><a href="employers-list-v2.html">Nous demander un devis</a></li>
                                <li><a href="employers-list-v3.html">Programme des conférences</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <span>Divers</span>
                            <ul>
                                <li><a href="candidates-list-v1.html">Agenda des forums</a></li>
                                <li><a href="candidates-list-v2.html">Actualités</a></li>
                                <li><a href="candidates-list-v3.html">WebTV</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <span>L'équipe Talents Handicap</span>
                            <ul>
                                <li><a href="blog-list-v1.html">Qui sommes-nous ?</a></li>
                                <li><a href="blog-list-v2.html">Nous contacter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">

                <button class="menu-btn">
                    <span class="count">1</span>
                    <span class="icon la la-heart-o"></span>
                </button>

                <button class="menu-btn">
                    <span class="icon la la-bell"></span>
                </button>

                <!-- Dashboard Option -->
                <div class="dropdown dashboard-option">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">

                        {% if app.user.profile and app.user.profile.photo|length %}
                            {% for avatar in app.user.profile.photo %}
                                {% if avatar.type is same as 1 %}
                                    {% if loop.first %}<img src="{{ asset('uploads/' ~ avatar.nom) }}" alt="avatar" class="thumb">{% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('uploads/avatar.png') }}" alt="avatar" class="thumb">
                        {% endif %}
                        <span class="name">Mon compte</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="dashboard.html"> <i class="la la-home"></i> Dashboard</a></li>
                        <li><a href="dashboard-company-profile.html"><i class="la la-user-tie"></i>Company Profile</a></li>
                        <li><a href="dashboard-post-job.html"><i class="la la-paper-plane"></i>Post a New Job</a></li>
                        <li><a href="dashboard-manage-job.html"><i class="la la-briefcase"></i> Manage Jobs </a></li>
                        <li><a href="dashboard-applicants.html"><i class="la la-file-invoice"></i> All Applicants</a></li>
                        <li><a href="dashboard-resumes.html"><i class="la la-bookmark-o"></i>Shortlisted Resumes</a></li>
                        <li><a href="dashboard-packages.html"><i class="la la-box"></i>Packages</a></li>
                        <li><a href="dashboard-messages.html"><i class="la la-comment-o"></i>Messages</a></li>
                        <li><a href="dashboard-resume-alerts.html"><i class="la la-bell"></i>Resume Alerts</a></li>
                        <li><a href="dashboard-change-password.html"><i class="la la-lock"></i>Change Password</a></li>
                        <li><a href="dashboard-company-profile.html"><i class="la la-user-alt"></i>View Profile</a></li>
                        <li><a href="{{ path('app_logout') }}"><i class="la la-sign-out"></i>Logout</a></li>
                        <li><a href="index.html"><i class="la la-trash"></i>Delete Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Header -->
    <div class="mobile-header">
        <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('images/logoTH.svg') }}" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

            <div class="outer-box">
                <!-- Login/Register -->
                <div class="login-box">
                    <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
                </div>

                <button id="toggle-user-sidebar"><img src="{{ asset('images/resource/company-6.png') }}" alt="avatar" class="thumb"></button>
                <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
            </div>
        </div>

    </div>

    <!-- Mobile Nav -->
    <div id="nav-mobile"></div>
</header>
<!--End Main Header -->