{% extends 'base.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <h1>Realisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ realisation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realisation.description|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisation_index') }}">back to list</a>

    <a href="{{ path('realisation_edit', {'id': realisation.id}) }}">edit</a>

    {{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
